label, input, textarea, select, option		{border:none; margin:2px 0px; padding:0px;}
a 											{color:#333333;}
                            				
ul, ul li 									{margin:0px; padding:0px; float:left; width:100%; list-style-type:none;}
                            				
.quickTask 									{float:left; width:550px; padding:15px; font-family:"Arial", Arial, Sans; color:#FFFFFF; font-size:12px; background:#333333;}
.quickTask h1 								{float:left; font-size:18px; font-weight:normal; text-transform:uppercase;}
.quickTask .date 							{float:right;}
.quickTask .project select 					{width:45%;}
.quickTask .project input 					{float:right; width:45%;}
.quickTask .category select 				{width:45%;}
.quickTask .category input 					{float:right; width:45%;}
.quickTask .issue 							{float:left; width:100%;}
.quickTask .description 					{float:left; width:100%; font-family:"Arial", Arial, Sans; font-size:12px;}
.quickTask .submit 							{float:right;}
                            				
.quickTask table.issues						{float:left; width:100%; padding:10px; color:#333333; text-align:left; background:#FFFFFF;}
.quickTask table.issues tbody tr.odd 		{background:#D8D8D8;}
.quickTask table.issues tbody tr.even 		{background:#FFFFFF;}
.quickTask table.issues .issue 				{width:150px; overflow:hidden; white-space:nowrap;}